#details-header img {
    width: 100%;
    margin-bottom: none;
}

#details-header i {
    position: absolute;
    padding: 5px;
    font-size: 4em;
    transition: all 0.5s ease;
}

#details-header i:hover {
    font-size: 5em;
}

#details-body {
    color: black;
    background-color: white;
    margin-top: none;
    margin-right: none;
    display: flex;
    padding-left: 10%;
    padding-top: 0%;
    /* padding-right: 0%; */
}

#details-body h1{
    margin: none;
}

#info {
    padding: 5%;
}

.link {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100px;
  width: 30%;
  padding: 7%;
  padding-right: none;
  transition: font-size 2s;
}
  
.link a {
    text-decoration: none;
    color:black;
    overflow: visible;
    flex-wrap: nowrap;
    
}

.link a:hover {
 padding-left: 5%
}