@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 10000px;
    margin: 0% 5% 0% 5%;
    padding: 0% 5% 0% 5%;
} 

html {
    background: #FB8D3B;
}

.header {
    background: white;
    color: orange;
    position: sticky;
    top: 10px;
    display: grid;
    grid-template-columns: 1fr 4fr 2fr 2fr;
    box-shadow: 0.4em 0.4em 1em -0.2em;
    font-size: 22px;
    font-weight: bold; 
    width: 110%;
    height: 70px;
    overflow: hidden;
    z-index: 3;
    margin-left: -5%;
    margin-right: 5%;
}

.hamburger {
    text-align: center;
    grid-column: 1 ;
}

.menu {
    grid-column: 2;
}

.filter {
    grid-column: 3;
}

.search {
    grid-column: 4;
}

container {
    margin: 0%;
    padding: 0%;
}

.logo {
   font-size: 15em;
   align-content: center;
   justify-content: center;
   z-index: 2;
   position: absolute;
   margin: 0%;
   
}

img {
    object-fit: cover;
}

.filter {
    height: 300px;
    width: 100%;
}

.byDate {
    display: block;
    background: darkorange;
    text-align: end;
    bottom: 0;
}

#showList {
    width: 90%;
    
}

hr {
    border: none;
    height: 1px;
    background-color: #ffc266;
    width: 80%;
}

.photos {
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container {
    width:100%;
    padding-top: 15%;
    height: 1000px;
    width: 1000px;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    z-index: 1;
    position: relative;
  }

.grid-item {
    display: flex;
}

.grid-item :hover {

}

.grid-item img {
    width: 100%;
    height: 100%;
}

.details {
    display: flex;
    position: absolute;
    align-self: flex-end;
}

#pic1 {
    grid-column: 1 / span 2;
    grid-row:  1 / span 2;
    
}

  #pic2 {
    background-image: url("https://www.petmd.com/sites/default/files/petmd-shaking-puppy.jpg");
    background-size: 100% 100%;
    grid-column: 3 / span 1;
    grid-row:  1 / span 1;
  }

  #pic3 {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIhk3Jjs_VeDPXP8hFobzlghGeWW8WGioHtvCPzXIIt9UeuzXg");
    background-size: 100% 100%;
    grid-column: 3 / span 2;
    grid-row:  2 / span 2;
  }

  #pic4 {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQp_3glY3z1_a-4kQG7tkknCRN9xGRUEnIC0T3twaEy9taGyMWhAw");
    background-size: 100% 100%;
    grid-column: 1 / span 1;
    grid-row:  3 / span 1
  }

  #pic5 {
    background-image: url("https://cdn.petcarerx.com/LPPE/images/articlethumbs/Puppy-Behavior-from-Week-to-Week-Large.jpg");
    background-size: 100% 100%;
    grid-column: 2 / span 1;
    grid-row:  3 / span 1
  }

  .search-box {
      height: 20%;
      display: flex;
      
  }

  .filter-search{
      margin: 10% 0% 5% 0%;
      height: 80px;
      background-color: #e35800;
      color: white;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      
  }

  #by-date {
      grid-column: 1;
  }

  #by-artist {
    grid-column: 2;
  }

  #normal-list {
    grid-column: 3;
  }

  #compact-list {
    grid-column: 4;
  }

