@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
} 

html {
    background: #FB8D3B;
}

.header {
    background: white;
    color: orange;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0.4em 0.4em 1em -0.2em;
    font-size: 22px;
    font-weight: bold; 
    width: 100%; /* Full width */
}

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.img {
    margin: 5px;
    transition: all 2s;
}

img:hover {
    transform: scale (1.1);
   }

.filter {
    height: 300px;
    width: 100%;
}

.byDate {
    display: block;
    background: darkorange;
}

#showList {
    width: 90%;
    
}

hr {
    border: none;
    height: 1px;
    background-color: #ffc266;
    width: 80%;
}