a {
  text-decoration: none;
  color: black;
}

  .scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; 
  position: relative;
  margin-bottom: 80px;
}

  .today {
    display: flex;
    flex: 0 0 auto; 
 
    height: 100%;
  }

  .show-name{
    z-index: 4;
    position: absolute;
    align-self: flex-end;
    bottom: 5px;
    padding: 5px;
    width: 250px;
  }

  .today img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    z-index: 2;
    position: relative;
   
  }


  #today-title h2{
   font-size: 5em;
   z-index: 10;
   padding-bottom: none;
   margin-bottom: 0px;;
  }
