<div id="body">
<div class="header"> 
        <div class="hamburger"> <img src="https://www.costavida.com/_images/header/mobile-menu-icon-orange.png" alt=""></div>
        <div class="menu"><a href="/search">Filter</a></div>
        <div class="filter"><p>Program</p></div>
        <div class="search"><p>Search</p></div>
</div>
<div class="row" id="logo-row">
<h1 class="logo">Portlandiso</h1>
</div>
<div class="photos">
    <div class="grid-container">
        <div class="grid-item" id="pic1">
         <img src="{{shows[5].images[3].url}}" alt="">
         <span class="details"><h2>{{shows[5].name}}</h2></span>
        </div>
        <div class="grid-item" id="pic2">
            <img src="{{shows[1].images[3].url}}" alt="">
            <span class="details"><h2>{{shows[1].name}}</h2></span>
        </div>
        <div class="grid-item" id="pic3">
            <img src="{{shows[2].images[3].url}}" alt="">
            <span class="details"><h2>{{shows[2].name}}</h2></span>
        </div>
        <div class="grid-item" id="pic4">
            <img src="{{shows[3].images[3].url}}" alt="">
            <span class="details"><h2>{{shows[3].name}}</h2></span>
        </div>
        <div class="grid-item" id="pic5">
            <img src="{{shows[0].images[3].url}}" alt="">
            <span class="details"><h2>{{shows[0].name}}</h2></span>
        </div>
    </div>
</div>
<div class="search-box">
    <div class="filter-search">
            <h5 class="left-select" id="by-date">By Date</h5>
            <h5 class="right-select" id="by-artist">Artist a/z</h5>
            <h5 class="left-select" id="normal-list">Normal</h5>
            <h5 class="right-select" id="compact-list">Compact</h5>
    </div>
</div>

<div class="row" *ngFor="let show of shows; let i = index" (click)="goToDetailPage(show)">
    <div id="show-list">
    <h1>
        {{show.dates.start.localDate | date }}
    </h1>
    <div>
    <h3 id="name"><em>{{show.name}}</em></h3><span class="show-time">{{show.dates.start.localTime}}</span>
    <div>
    <h4>{{show._embedded.venues[0].name}}</h4>
    </div>  
</div>
</div>
<hr>
</div>
</div>